* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 18px;
  font-family: Roboto, Helvetica, sans-serif;
}

body {
  background: repeating-linear-gradient(
  45deg,
  rgba(255, 255, 255, 0.5),
  rgba(255, 255, 255, 0.5) 5px,
  rgba(193, 174, 131, 0.2) 5px,
  rgba(193, 174, 131, 0.2) 10px
  );
}

a {
  text-decoration: none;
  color: rgb(117, 40, 13);
}

a:hover {
  background-color: rgba(82, 101, 127, .2);
}

/* header styling */
header { 
  height: 500px;
  background-image: url("tlo.jpg");
  background-attachment: fixed;
  background-size: cover;
}

.theme {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 500px;
  min-width: 300px;
  border-bottom: 1px solid black;
}

.theme img {
  display: block;
  border-radius: 50%;
  width: 180px;
  height: auto;
  margin: 30px;
  border: 1px solid black;
}

.theme div {
  background-color: white;
  width: 80%;
  padding-bottom: 10px;
  max-width: 1000px;
}

h1 {
  font-size: calc(2.4rem + 1.5vw);
  font-variant: small-caps;
  font-family: Merriweather, 'Times New Roman', serif;
  color: darkslategrey;
  text-align: center;
  margin: 20px 50px;
  padding: 0px 15px;
  border-bottom: solid 2px darkslategrey;
}

h2 {
  font-size: calc(1.2rem + 1.5vw);
  font-family: Merriweather, 'Times New Roman', serif;
  color: rgb(117, 40, 13);
  text-align: center;
  margin: 20px 20px;
  padding: 0px 15px;
}

/*navbar styling*/
.navigation {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: white;
  border-bottom: 1px solid black;

}

.navigation ul {
  width: 80%;
  max-width: 1000px;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.navigation li {
  min-height: 40px;
  flex-basis: 90px;
  flex-grow: 1;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navigation li a {
  display: block;
  text-align: center;
  width: 100%;
  padding: 8px;
}

.navigation li a:hover {
  scale: 1.1;
  background-color: rgba(82, 101, 127, .2);
  transition: all 0.5s ease-in-out;
}
/*navbar styling ends */

.site_content {
  margin: auto;
  width: 80%;
  max-width: 1000px;
  background-color: white;
}

section {
  position: relative;
  padding: 25px 20px 10px 20px;
  border-left: solid 15px white;
  border-right: solid 15px white;
}

@keyframes mymove {
  0%   {border-left: solid 15px rgba(70, 89, 130, .3); border-right: solid 15px rgba(70, 89, 130, .3);}
  100%   {border-left: solid 15px white; border-right: solid 15px white;}
}

section:target {
  animation: mymove 1s ease-in ;
}

h3 {
  font-family: Merriweather, 'Times New Roman', serif;
  font-size: 1.6rem;
  margin: 20px auto 0px 0px;
  padding-left: 40px;
  background-color: rgba(213, 202, 184, .8);
  /*width: 60%;*/
}

.simpletext {
  padding-top: 30px;
  position: relative;
  line-height: 1.5em;
  padding-bottom: 15px;
  background-color: white;
}

.companypicture {
  position: sticky;
  top: 0px;
  z-index: 1;
}

.widepicture {
  width: 100%;
  height: auto;
  opacity: 0.4;
}

.widepicture:hover {
  transition: all 1s ease-out;
  opacity: 1;
}

.widepicture:not(:hover){
  transition: all 1s ease-out;
  opacity: 0.4;
}

.text-wrapper{
  position: relative;
  z-index: 2;
}


/*gallery styling*/

.gall-grid {
width: 100%;
display: grid;
grid-template-columns: 500px 1fr;
gap: 15px;
padding-top: 30px;
}

.gall-grid .simpletext {
  padding: 0px;
}

.gallery {
  width: 500px;
  height: auto;
  overflow: hidden;
}

@keyframes slide {
  0%, 11.1% {
    transform: translateX(0);
    }
  22.2%, 33.3% {
    transform: translateX(-100%);
    }
  44.4%, 55.5% {
    transform: translateX(-200%);
    }
  66.6%, 77.7% {
    transform: translateX(-300%);
    }
  88.8%, 100% {
    transform: translateX(-400%);
    }
}

.images-wrapper {
  display: flex;
  align-items: center;
  animation: slide 10s ease infinite alternate;
  animation-delay: 2s;
}

.gallery img {
  position: relative;
  width: 500px;
}

.gallery figcaption {
  position: absolute;
  bottom: 10px;
  width: 100%;
  z-index: 10;
  font-size: 0.8rem;
  padding: 10px 15px;
  background-color: rgba(213, 202, 184, .4);
}
/*gallery styling ends here*/

.gridtext {
  align-self: center;
}

address {
  line-height: 1.5em;
  padding: 20px;
  text-align: center;
  font-weight: bold;
  font-style: normal;
  background-color:  rgba(125, 138, 167, .8);
}

address:hover {
  background-color: rgba(70, 89, 130, .3);
  transition: all 0.5s ease-in-out;
}

i {
  font-size: 2rem;
}

address a:hover {
  background-color: white;
}

a > i {
  color: black;
  font-size: 1.4rem;
  padding: 10px;
}

a > i:hover {
  background-color: white;
  border-radius: 10px;
  scale: 1.1;
}

.survey {
  text-align: center;
  margin: 20px 20px 30px 20px;
  line-height: 1.5em;
}

.survey form {
  margin: auto auto 30px auto;
  padding: 20px 20px 0px 20px;
  border: 1px solid black;
  text-align: center;
  max-width: 500px;
  min-width: 200px;
}

.survey ul {
  margin: auto;
  padding: 20px;
  list-style: none;
  text-align: left;
}

.survey input {
  margin: 5px;
}

.survey button { 
  display: block;
  border: none; 
  background-color: rgba(213, 202, 184, .8);
  padding: 10px;
  margin: auto auto 20px auto;
  max-width: 200px;
  min-width: 100px;
} 

.survey button:hover {
  background-color: rgba(82, 101, 127, .2);
}


footer {
   background-color: 	rgb(125, 138, 167);
   border-top: 1px solid black;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 40px;
   font-size: 0.8rem;
}



@media (max-width: 1000px){
  .gall-grid {
    position: relative;
    z-index: 1;
    top: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    justify-items: center;
  }

}


@media (max-width: 850px){
  h1 {
    font-size: 3rem;
    }

  h2 {
    font-size: 1.8rem; 
  }
}


@media (max-width: 750px) {

  .navigation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  .theme div {
    width: 100%;
  }

  .site_content {
    width: 100%;
  }

  .navigation li { 
    flex-basis: 100%;
  }

  h1 {
    font-size: 2.2rem; 
    margin: 15px;
  }

  h2 {
    font-size: 1.4rem; 
    margin: 15px;
  }

 h3 {
    font-size: 1.4rem; 
    margin-top: 10px;
  margin-bottom: 10px;
    padding-top: 0px;
    width: 100%;
  }

  .simpletext {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 0px;
  }

  .gallery {
    width: 400px;
  }

  .gallery img {
    position: relative;
    width: 400px;
  }

}


@media (max-width: 500px) {
  .gallery {
    width: 300px;
  }

  .gallery img {
    position: relative;
    width: 300px;
  }

  .simpletext {
    font-size: 0.9rem;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .survey {
    font-size: 0.9rem;

}


@media (max-width: 400px) {
  .gallery {
    width: 200px;
  }

  .gallery img {
    position: relative;
    width: 200px;
  }

  .contact form {
    padding: 20px 20px 0px 20px;
    border: 1px solid black;
    text-align: center;
    width: 100%;
  }
}










