* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 16px;
  font-family: Roboto, Helvetica, sans-serif;
}
body {
  background: repeating-linear-gradient(
  45deg,
  rgba(255, 255, 255, 0.5),
  rgba(255, 255, 255, 0.5) 5px,
  rgba(193, 174, 131, 0.2) 5px,
  rgba(193, 174, 131, 0.2) 10px
  );
}

a {
  text-decoration: none;
  font-size: 1.2rem;
  color: rgb(117, 40, 13);
}

a:hover {
  background-color: rgba(82, 101, 127, .2);
}

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.9);
  border-bottom: 1px solid black;

}

.navigation ul {
  width: 80%;
  max-width: 1000px;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.navigation li {
  min-height: 40px;
  flex-basis: 90px;
  flex-grow: 1;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navigation li a {
  display: block;
  text-align: center;
  width: 100%;
  padding: 8px;
}

.navigation li:hover {
  background-color: rgba(82, 101, 127, .2);
}

.navigation li a:hover {
 font-size: 1.2rem;
}

.tlo { 
  background-attachment: fixed;
  margin: auto 0px auto auto;
  height: 500px;
  background-image: url("https://cdn.jsdelivr.net/gh/szarlata/wizytowka@master/tlo.jpg");
  background-size: cover;
}

.theme {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 500px;
  min-width: 300px;
  border-bottom: 1px solid black;
}

.theme img {
  display: block;
  border-radius: 50%;
  width: 180px;
  height: auto;
  margin: 30px;
  border: 1px solid black;
}

.theme div {
  background-color: white;
  width: 80%;
  padding-bottom: 10px;
  max-width: 1000px;
  min-width: 300px;
}

h1 {
  font-size: 3.6rem;
  font-variant: small-caps;
  font-family: Merriweather, 'Times New Roman', serif;
  color: darkslategrey;
  text-align: center;
  margin: 20px 50px;
  padding: 0px 15px;
  background-color: rgba(213, 202, 184, .4);
}

h2 {
  font-size: 2.4rem;
  font-family: Merriweather, 'Times New Roman', serif;
  color: rgb(117, 40, 13);
  text-align: center;
  margin: 20px 50px;
  padding: 0px 15px;
 /* background-color: rgba(213, 202, 184, .4); */
}


.site_content {
  margin: auto;
  padding: 20px 20px 50px 20px;
  width: 80%;
  max-width: 1000px;
  background-color: white;
}

h3 {
  font-family: Merriweather, 'Times New Roman', serif;
  font-size: 2rem;
  margin: 30px 50px 20px 50px;
  padding: 0px 15px;
  background-color: rgba(213, 202, 184, .8);
  width: 60%;
}


.simpletext {
  font-size: 1.2rem;
  line-height: 1.5em;
  padding-bottom: 15px;
}


.gall {
width: 100%;
display: grid;
grid-template-columns: 300px 1fr;
gap: 15px;
padding: 0;
}

.gallery {
  position: relative;
  z-index: 5; 
  width: 300px;
  height: auto;
  overflow: hidden;
}

/*.gallery:active {
scale: 1.5;
}*/

.images-wrapper {
  display: flex;
  align-items: center;
  //-webkit-box-align: center;
  //-ms-flex-align: center;
 // -webkit-animation: slide 10s ease infinite alternate;
  animation: slide 10s ease infinite alternate;
  animation-delay: 2s;
}

.images-wrapper:hover {
 animation-play-state: paused;
}

@keyframes slide {
  0%, 11.1% {
    //-webkit-transform: translateX(0);
    transform: translateX(0);
    transform: translateX(0);
  }
  22.2%,
  33.3% {
    transform: translateX(-100%);
    transform: translateX(-100%);
  }
  44.4%,
  55.5% {
    transform: translateX(-200%);
    transform: translateX(-200%);
  }
  66.6%,
  77.7% {
    transform: translateX(-300%);
    transform: translateX(-300%);
  }
   88.8%,
   100% {
    transform: translateX(-400%);
    transform: translateX(-400%);
  }
}

.gallery img {
  position: relative;
  width: 300px;
}

.gallery img:hover {

}

.gallery figcaption {
  position: absolute;
  bottom: 10px;
  width: 100%;
  z-index: 10;
  padding: 10px 15px;
  background-color: rgba(213, 202, 184, .4);
}

.contact {
  text-align: center;
  margin: 40px 20px 30px 20px;
  font-size: 1.2rem;
  line-height: 1.5em;
}

.contact form {
  margin: auto;
  padding: 20px 20px 10px 20px;
  border: 1px solid black;
  text-align: center;
  max-width: 400px;
}

.contact ul {
  margin: auto;
  padding: 20px;
  list-style: none;
  text-align: left;
}

.contact input {
  margin: 5px;
}

.contact button { 
  border: none; 
  background-color: rgba(213, 202, 184, .8);
  padding: 10px;
  text-align: center;
  } 



.contact button:hover {
  background-color: rgba(82, 101, 127, .2);
}


footer {
   background-color: rgba(70, 89, 130, .9);
   display: flex;
   justify-content: center;
   align-items: center;
   height: 40px;
}

@media (max-width: 850px){
  h1 {
    font-size: 3rem;
    }

  h2 {
    font-size: 2rem; 
  }

  h3 {
  font-size: 1.8rem;
  }
}


@media (max-width: 700px){
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 1.6rem; 
  } 

   h3 {
    font-size: 1.4rem;
  }

  .gall {
    width: 100%;
    min-width: 300px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 400px 1fr;
    justify-items: center;
  }
}

@media (max-width: 600px){
  .theme div {
    width: 100%;
  }

  h1 {
    font-size: 2.6rem; 
    margin: 15px;
  }

  h2 {
    font-size: 1.4rem; 
    margin: 15px;
  }

  h3 {
    font-size: 1.4rem;
  }
}

@media (max-width: 450px) {
  .theme div {
    width: 100%;
  }

  .site_content {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }


  .navigation li { 
    flex-basis: 100%;
  }

  h1 {
    font-size: 2.2rem; 
    margin: 15px;
  }

  h2 {
    font-size: 1.4rem; 
    margin: 15px;
  }

 h3 {
    margin: 30px 0px 20px 0px;
  }
}




